@charset "UTF-8";

body{
    background-color: #EAE6E6;
}
.logomin{
    font: 11px '';
}
.shadow-shorter {
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
    0 2px 2px rgba(0,0,0,0.11),
    0 4px 4px rgba(0,0,0,0.11),
    0 6px 8px rgba(0,0,0,0.11),
    0 8px 16px rgba(0,0,0,0.11);
}
.stitle{
    padding-top: 15px;
    margin-left: 15px;
}
#main-section-wrap{
    margin-top: 60px;
    position: relative;
}
#storeBox {
    width: 1200px;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
}
#storeBox > .store-box{
    display: flex;
    justify-content: space-around;
}
.main_exh_sub{
    height: 20px;
    text-align: center;
}
.main_exh_sub > span{
    font: bold 15px/20px "";
}

#feedBox{
    width: 730px;
    height: 300px;
    background-color: #fff;
    margin-top: 20px;
}
#feedBox > .feed-wrap{
    display: flex;
    justify-content: space-around;
}
#feedBox > .feed-wrap > .feed-each{
    width: 320px;
    height: 100px;
}
#storeRequestBox{
    width: 450px;
    height: 570px;
    background-color: #fff;
    position: absolute;
    top: 320px;
    right: 45px;
}
#usersBox{
    width: 730px;
    height: 230px;
    background-color: #fff;
    position: absolute;
    top: 660px;
    left: 100px;
}