<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>
<link th:href="@{/assets/css/style-admin-main.css}" rel="stylesheet" type="text/css">
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<nav class="navbar navbar-custom navbar-fixed-top clearfix" role="navigation">
    <div class="container">
        <!-- 좌측 로고 -->
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>
                <span class="icon-bar"></span></button><a class="navbar-brand" th:href="@{/collectpop/admin/mainm}">COLLECTPOPS<span class="logomin">admin</span></a>
        </div>
        <!-- 우측 헤더 목록-->
        <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a class="" th:href="@{/collectpop/admin/mainm}" >HOME</a> </li>
                <li class=""><a class="" th:href="@{/collectpop/admin/requestList}" >POPUPSTORE</a></li>
                <li class=""><a class="" th:href="@{/collectpop/admin/userList}" >USERS</a></li>
                <li class=""><a class="" th:href="@{/collectpop/admin/declaration}" >DECLARATION</a></li>
                <li class=""><a class="" th:href="@{/collectpop/admin/banner}" >BANNER</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- admin main start -->
<div class="container">
    <!-- 최근 올라온 팝업 스토어 -->
    <div id="storeBox" class="shadow-shorter">
        <h2 class="stitle">최근 올라온 팝업 스토어</h2>
        <div class="store-box">
            <!-- Thymeleaf를 사용하여 슬라이더 아이템 생성 -->
            <div th:each="store : ${storesSortedByNewest}" style="width: 320px; height: 200px">
                <div class="store-img-wrap" style="width: 320px; height: 200px;">
                    <img th:src="@{/collectpop/store/thumbnail/{fileName}(fileName=${store})}"
                         alt="팝업스토어 이미지"
                         style="width: 100%; height: 100%; object-fit: cover; ">
                </div>
            </div>
        </div>
    </div>
    <div class="left" style="" th:if="${users.img} != 'assets/profile.png' ">
        <img th:src="@{/collectpop/users/__${users.img}__}" style="width:100%; height:350px; margin: auto; padding-right:10%">
    </div>
    <div class="left" style="" th:if="${users.img} == 'assets/profile.png' ">
        <img th:src="'/' + ${users.img}" style="width:100%; height:350px; margin: auto; padding-right:10%">
    </div>

    <!-- 최근 가입한 유저 -->
    <div id="usersBox" class="shadow-shorter">
        <h2 class="stitle">최근 가입한 유저</h2>
        <div class="users-wrap">
            <!-- Thymeleaf를 사용하여 유저 아이템 생성 -->
            <div class="user-each" th:each="users : ${getUsersByNewest}" style="width: 320px;">
                <div class="user-info-box">
                    <img th:if="${users.img} != 'assets/profile.png' " th:src="@{/collectpop/users/__${users.img}__}" style="width: 100%; height: 100%; object-fit: contain; alt="프로필 이미지">
                    <img  th:if="${users.img} == 'assets/profile.png' " th:src="'/' + ${users.img}" style="width: 100%; height: 100%; object-fit: contain;>
                    <br>
                    <span th:text="${users.userId}"></span><span th:text="${users.username}"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- 최근 올라온 피드 -->
    <div id="feedBox" class="shadow-shorter">
        <h2 class="stitle">최근 올라온 피드</h2>
        <div class="feed-wrap">
            <!-- Thymeleaf를 사용하여 피드 아이템 생성 -->
            <div class="feed-each" th:each="feed : ${getFeedByNewest}" >
                <div class="feedimg-wrap">
                    <img th:src="@{/collectpop/admin/__${feed}__}" alt="피드 이미지" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
            </div>
        </div>
    </div>

    <!-- 최근 스토어 등록 신청 -->
    <div id="storeRequestBox" class="shadow-shorter">
        <h2 class="stitle">최근 스토어 등록 신청</h2>
        <div th:each="storeRequestBox : ${getAllStoreRequestsSortedByNewest}">
            <span th:text="${storeRequestBox.requestId}"></span>
            <span th:text="${storeRequestBox.companyname}"></span>
            <span th:text="${storeRequestBox.userId}"></span>
            <span th:text="${storeRequestBox.email}"></span>
            <div>

            </div>
        </div>
    </div>
</div>
</div>

<!-- end of admin main -->
<script src="/assets/lib/jquery/dist/jquery.js"></script>
<script src="/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/lib/wow/dist/wow.js"></script>
<script src="/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/assets/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/assets/lib/flexslider/jquery.flexslider.js"></script>
<script src="/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/assets/lib/smoothscroll.js"></script>
<script src="/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>