<!DOCTYPE html>
<html lang="en-US" dir="ltr"xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Header 설정 -->
<head th:replace="layout/header :: header"></head>
<style>
    .links-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .right-links {
        display: flex;
        gap: 10px; /* 각 링크 사이의 간격 설정 */
    }
    .container {
        justify-content: center;
        align-items: center;

    }


</style>
<!--body-->
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<!-- body쪽 header처럼 되어 있는 내용들 -->
<th:block th:replace="layout/startContent :: startContent"></th:block>
<!-- Main Content들어갈 부분 -->
<div class="main">


    <section class="module">
        <div class="container"  style="width: 50%;">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 mb-sm-40" style="width:80%;">
                    <h4 class="font-alt" style="text-align:center;">비밀번호 재설정</h4>
                    <br>
                    <hr class="divider-w mb-10">

                    <form class="form" action="" th:action="@{/collectpop/users/findPassword}" th:object="${users}" method="post" id="form">
                        <!-- <span>이메일 </span> -->
                        <div class="form-group last mb-4 email_input">
                            <label for="email" id="">이메일을 입력해주세요</label>
                            <input class="form-control" type="text" th:field="*{email}" id="email">
                        </div>
                        <!-- <span>이메일 인증번호</span> -->
                        <button class="btn btn-outline-primary" type="button" id="checkEmail"
                                onclick="return emCheck()" style="width:100%;">인증번호 받기</button>

                        <div class="form-group last mb-4 check_input">
                            <label for="memailconfirm" id="memailconfirmTxt">인증번호를 입력해주세요</label>
                            <input type="text" class="form-control" id="memailconfirm" >
                        </div>
                        <br>
                        <div class="form-group ">
                            기존 아이디를 입력해주세요.
                            <input type="text" class="form-control" th:field="*{username}" disabled >
                        </div>

                        <div class="form-group">
                            신규 비밀번호 :
                            <input type="password" class="form-control pw" id="password1" name="pw1" th:field="*{password}" disabled />
                        </div>

                        <div class="form-group">
                            비밀번호 재확인:
                            <input type="password" class="form-control pw" id="password2" name="pw2" disabled />
                            <a id="checkPw"></a>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-block btn-round btn-b" type="subBtn"
                                    onclick="return fieldCheck()" style="width:100%;">재설정</button>
                        </div>
                    </form>

                    <br>
                    <label class="links-container">
                        <a th:href="@{/collectpop/}">홈으로</a>
                        <div class="right-links">
                            <a th:href="@{/collectpop/users/join}">회원가입</a>
                            <a th:href="@{/collectpop/users/findUsername}">아이디 찾기</a>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- End Main Content -->

<!-- Footer 붙히기 -->
<th:block th:replace="layout/footer :: footer"></th:block>
</body>

<script th:inline="javascript">

    function emCheck()  {
     let form = document.getElementById("form");
        if(!form.email.value) {
         alert("이메일을 입력하세요");
         return false;
        }
        return true;
     }

    //유효성 검사하기
    function fieldCheck() {
    let form = document.getElementById("form");

        if(!form.username.value) {
         alert("아이디를 입력하세요");
         return false;
        }

        if(!form.pw1.value) {
         alert("신규 비밀번호를 입력하세요");
         return false;
        }

        if(!form.pw2.value) {
         alert("확인을 위한 비밀번호를 입력하세요");
         return false;
        }
        return true;
    }

    var $email = $('#email');  //컬럼이메일
    var $checkEmail = $('#checkEmail'); //ㅇ메일체크
    var $memail = $('#memail'); //자기이메일
    var $memailconfirm = $('#memailconfirm'); //입력받은이메일(검증을위한)
    var $memailconfirmTxt = $('#memailconfirmTxt'); //인증받은번호입력
    var $emcomfirm = $('#emcomfirm'); //입력받아 적용된 인증번호
    var $username = $('#username'); //입력받아 적용된 인증번호
    var $password1 = $('#password1'); //입력받아 적용된 인증번호
    var $password2 = $('#password2'); //입력받아 적용된 인증번호

     // 이메일 인증번호
    $checkEmail.click(function() {
       $.ajax({
          type : "POST",
          url : "login/mailConfirm",
          data : {
             "email" : $email.val()
          },
          success : function(data){

             alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.")
             console.log("data : "+data);
             EmailConfirm(data, $memailconfirm, $memailconfirmTxt);

          }
       })
    })

    // 이메일 인증번호 체크 함수
    function EmailConfirm(data, $memailconfirm, $memailconfirmTxt){
        $memailconfirm.on("keyup", function(){
            if (data != $memailconfirm.val()) { //
                emconfirm = false;
                $memailconfirmTxt.html("<span id='emconfirm'>인증번호가 잘못되었습니다</span>")
                $("#emconfirm").css({
                    "color" : "#FA3E3E",
                    "font-weight" : "bold",
                    "font-size" : "10px"

                })

            } else {
                emconfirm = true;

                $memailconfirmTxt.html("<span id='emconfirm'>인증번호 확인 완료</span>")
                $("#emconfirm").css({
                    "color" : "#0D6EFD",
                    "font-weight" : "bold",
                    "font-size" : "10px"
                })
                $('#subBtn').attr('disabled',false); // 버튼 활성화
                $('#email').attr('readonly',true); // 이메일 비활성화(수정못하게)
                $('#memailconfirm').attr('readonly',true); // 인증번호 승인 시 입력 비활성화
                $('#checkEmail').attr('disabled',true); // 인증번호 승인 시 버튼 비활성화
                $('#username').attr('disabled',false); // 인증번호 승인 시 버튼 비활성화
                $('#password1').attr('disabled',false); // 인증번호 승인 시 버튼 비활성화
                $('#password2').attr('disabled',false); // 인증번호 승인 시 버튼 비활성화
            }
        })
    }


</script>

</html>