<!DOCTYPE html>
<html lang="en-US" dir="ltr"xmlns:th="http://www.thymeleaf.org">

<!--Header 설정 -->
<head th:replace="layout/header :: header"></head>

<!--body-->
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<!-- body쪽 header처럼 되어 있는 내용들 -->
<th:block th:replace="layout/startContent :: startContent"></th:block>

<!-- Main Content들어갈 부분 -->

<section class="module bg-dark-30 about-page-header" data-background="assets/images/about_bg.jpg">
        <div class="container">
                <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                                <h1 class="module-title font-alt mb-0">img(페이지마다)</h1>
                        </div>
                </div>
        </div>
</section>
<h1>doing Test...</h1>





<!-- End Main Content -->

<!-- Footer 붙히기 -->
<th:block th:replace="layout/footer :: footer"></th:block>
</body>
</html>